	<div class="footer">
      <p class="text-center">&copy; 2017 | Library Application</p>
      <p class="text-center">Developed by: Efekemo Eguonoghene</p>
    </div>

    <!--Scripts-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>